
.lekton-regular {
    font-family: "Lekton", serif;
    font-weight: 400;
    font-style: normal;
}
  
.lekton-bold {
    font-family: "Lekton", serif;
    font-weight: 700;
    font-style: normal;
}

.lekton-regular-italic {
    font-family: "Lekton", serif;
    font-weight: 400;
    font-style: italic;
}

h1, h2 {
    font-family: "Lekton", serif;
}
  
.note-post {
    min-width: 330px;
    max-width: 330px;
    height: auto;
    background-color: black;
    border-radius: 6px;
    padding: 0.5rem;
    margin: 1rem;
}

.notes-image {
    object-fit: cover;
    height: 250px;
    width: 400px;
}

.note-post-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 160px;
}

.notes-image:hover {
    filter: brightness(50%);
}

.notes-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e5ff99;
}

.notes-content-text {
    font-weight: lighter;
}

.avatar-image {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.avatar-name-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    align-self: flex-end;
}

.notes-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    align-self: flex-end;
}

.delete-btn, .edit-btn {
    height: 1.2rem; /* Specify the height */
    width: 1.2rem; /* Specify the width */
    background-size: cover; /* Cover the entire area of the element */
    cursor: pointer;
    margin: 1rem;
}

.delete-btn {
    background-image: url('/assets/svg/delete.svg');
}

.delete-btn:hover {
    background-image: url('/assets/svg/delete-hover.svg');
    cursor: pointer;
}

.edit-btn {
    background-image: url('/assets/svg/edit.svg');
}

.edit-btn:hover {
    background-image: url('/assets/svg/edit-hover.svg');
    cursor: pointer;
}

.admin-card-buttons {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: end;
    align-content: end;
    align-self: flex-end;
}

input[type="text"], textarea[type="text"] {
    border-radius: 4px;
    padding: 0.5rem;
    border: none;
  }

/* Small (sm) */
@media (max-width: 640px) {

    .note-post {
        width: 100%;
        max-width: 100%;
        padding: 1rem;
    }

    .notes-image {
        width: 100%;
    }
}